<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tacyllems.game.red">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tacyllems.game.red.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tacyllems.game.red.EasyActivity"/>
        <activity android:name="com.tacyllems.game.red.PlayAgain"/>
        <activity android:name="com.tacyllems.game.red.StartActivity"/>
        <activity android:name="com.tacyllems.game.red.HardActivity"/>
        <activity android:name="com.tacyllems.game.red.StonerHard"/>
        <activity android:name="com.tacyllems.game.red.Reflex30"></activity>
    </application>

</manifest>