<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tacyllems.game.red">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/playappid" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".EasyActivity" />
      <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HardActivity"
            android:resizeableActivity="false"/>
        <activity android:name=".StonerHard"
            android:resizeableActivity="false"/>
        <activity android:name=".Reflex30"
            android:resizeableActivity="false"/>
        <activity android:name=".AboutActivity"
            android:resizeableActivity="false"/>
        <activity android:name=".Tribute"
            android:resizeableActivity="false"/>
        <activity
            android:name=".Multiplayer"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultiplayerEnd"
            android:resizeableActivity="false"
            android:theme="@style/Theme.CustomTranslucent" />
        <activity android:name=".StatsActivity"
            android:resizeableActivity="false"/>
        <activity android:name=".DoubleTrouble"
            android:resizeableActivity="false"/>
        <activity android:name=".IntroActivity"
            android:resizeableActivity="false"></activity>
    </application>

</manifest>